<!DOCTYPE html>
<html lang="en">
 <%- include("./partials/head.ejs") %>
<style>
    table {
  width: 100%;
}
th {
  height: 30px;
}
body {
            text-align: center;
            background-color: #F0F0F0;
}
.card {
    border: 1px #e7e7e7 solid;
    background-color: #ffff;
    margin: 15px 0px 15px 0px;
    border-radius: 10px 10px 10px 10px;
}

.container{
width: 500px;
}

h3 {
  background-color: #b7c9c7;
  padding: 10px;
  border-radius: 10px 10px 0px 0px;
}
h3 > a {
  color: #FFFF;
}
</style>
  <body>
  <div><img src='https://live.staticflickr.com/65535/52818027514_92ea337740.jpg' width="500" height="251" alt="logo"/></a></div>
 
    <main>
      <div>
        <form action="/stories/<%= story._id %>?_method=PUT" method="post">
          <fieldset>
            <legend>Edit a <%= story.title %></legend>
            <label>
             Title<input
                type="text"
                name="title"
                value="<%= story.title %>"
                placeholder="Enter Story Title"
              />
            </label>
            <label>
              Human Written? :<input type="checkbox" name="humanWritten" <%=
              story.humanWritten ? "checked" : "" %> />
            </label>
              <label>
             Author <input
                type="text"
                name="author"
                value="<%= story.author %>"
                placeholder="Enter Author
                s Name"
              />
              <label>
             Book Image URL <input
                type="img"
                name="bookImage"
                value="<%= story.img %>"
              />
            </label>
            <label>
             Story Intro <input
                type="text"
                name="storyIntro"
                value="<%= story.storyIntro %>"
                placeholder="Enter Story Intro"
              />
              <label>
             Story <textarea
                name="story"
                rows="100" cols="100"
                
                placeholder="Enter Story">
                <%= story.story %>
              </textarea>
            </label>
          </fieldset>
          <input type="submit" value="Update <%= story.title %>" />
        </form>
         <br>
    <a href="/stories/"> CHANGED YOUR MIND? NO WORRIES LET'S GO BACK TO HOME </a>
      </div>
    </main>
  </body>
  <footer>
  <p></p>
  <a href="https://generalassemb.ly/">Made by GA Carina Sqaud Student: Wes</a>
</footer>
</html>