<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
<style>
    table {
  width: 100%;
}
th {
  height: 30px;
}
body {
            text-align: center;
            background-color: #F0F0F0;
}
</style>
  <body>
   
    <article>       
     <h3><a href="/stories/show/<%= story._id %>"><%=story.title%></a></h3>
    <p>Written By Human: <%= story.humanWritten%></p>
    <p>Author: <%=story.author %></p>
     <img src="<%= story.bookImage %>" alt="">
    <p>Story: <%= story.story %></p> 