<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
<style>
    table {
  width: 100%;
}
th {
  height: 30px;
}
body {
            text-align: center;
            background-color: #F0F0F0;
}
</style>
  <body>
  <img src='https://live.staticflickr.com/65535/52818027514_92ea337740.jpg' width="500" height="251" alt="logo"/></a>
   <div class="container">
    <div class="card">
    <article>       
     <h3><a href="/stories/show/<%= story._id %>"><%=story.title%></a></h3>
    <p><b>Written By Human:</b> <%= story.humanWritten%></p>
    <p><b>Author:</b> <%=story.author %></p>
     <img src="<%= story.bookImage %>" alt="">
     <br>
    <p><b>Story:</b> <%= story.story %></p> 
    <p><b> Share This Story!</b></p>
  <a href="http://www.facebook.com"><img src="https://live.staticflickr.com/65535/52819758383_3790785bdf.jpg" width="90" height="28" ></a>
  <a href="http://twitter.com"><img src="https://live.staticflickr.com/65535/52819500244_6fc60d5f01.jpg" width="90" height="28" /></a>
    </div>
    <a href="/stories/edit/<%= story._id %>/"> Not Satisified? Edit this story!</a>
      <br>
      <a href="/stories/"> Return to Home </a>
       <form action="/stories/<%= story._id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete"/>
</div>
